<%- include("../partials/header") %>

<div class="container" style="width:30%;">
<form action ="/campground/<%= camp._id %>?_method=PUT" method="POST">
<!-- Heading  -->
  <div class="form-group">
	<h1>Edit Campground</h1>
  </div>
<!-- Camp name -->
  <div class="form-group">
    <label for="exampleInputEmail1">Camp name</label>
    <input tpye="text" name="camp[Campname]"  class="form-control" id="exampleInputPassword1" value="<%= camp.Campname %>">
  </div>
<!-- Camp Image URL -->
  <div class="form-group">
    <label for="exampleInputPassword1">Camp image URL</label>
    <input tpye="text" name="camp[image]"  class="form-control" id="exampleInputPassword1" value="<%= camp.image %>">
  </div>
<!-- Camp Description -->
  <div class="form-group">
    <label for="exampleInputPassword1">Description</label>
    <input tpye="text" name="camp[description]"  class="form-control" id="exampleInputPassword1" value="<%= camp.description 
	%>">
  </div>
<!-- Submit Button -->
	<div class="form-group">
  <button type="submit" class="btn btn-primary">Submit</button>
	</div>
<!-- Link to index page -->
	<p><a href="/camping">Go Back</a></p>
</form>
</div>

<%- include("../partials/footer") %>