<%- include("../partials/header")%>
<div class="container">
	<div class="row">
		
		<!-- Side bar for show page -->
		<div class="col-md-3">
			<p class="lead">YelpCamp</p>
			<ul class="list-group">
				<li class="list-group-item active">Cras justo odio</li>
				<li class="list-group-item">Dapibus ac facilisis in</li>
			    <li class="list-group-item">Morbi leo risus</li>
			</ul>
		</div>
		
		<!-- For displaying Comments and Details of campgrounds -->
		<div class="col-md-9">
			<!-- Post Details -->
			<div class = "thumbnail">
				<img src="<%= camp.image %>">					
				<!-- Camp Details -->
				<div class="caption">

					<a><strong><%= camp.Campname %></strong></a>
					<strong><span class="pull-right">$10.0/hr</span></strong>
					<p><%= camp.description %></p>
					<em><p>Created By - <%= camp.author.username %></p></em>

					<!-- Displayed only when author of campground and user matches -->
					<% if(currUser && camp.author.id == currUser.id) { %>
						<a class="btn btn btn-warning" href="/campground/<%= camp._id %>/edit">Edit</a>
						<form class="delete-form" action="/campground/<%= camp._id %>?_method=DELETE" method="POST">
							<button class="btn btn btn-danger" >Delete</button>
						</form>
					<% } %>

				</div>

			</div>
			

		<!-- For Displaying Comments -->
			<div class="well">
				<div class="text-right">
					<p><a href="/campground/<%= camp._id %>/comment/new" class="btn btn-success">Add New 							            Comment</a></p>
				</div>
				<hr>
				<% camp.comments.forEach(function(comment){ %>

					<div class="row">
						<div class="col-md-12">
							<b><%= comment.author.username %></b><span class = "pull-right">10 days ago</span>
							<p><%= comment.Text %></p>
						</div>
					</div>
					<!-- Displyed only if the present logged in User owns the comment -->
					<% if(currUser && comment.author.id == currUser.id) { %>
						<a class="btn btn-xs btn-warning" href="/campground/<%= camp._id %>/comment/<%= comment._id
						%>/edit">Edit</a>
						<form class= "delete-form" action="/campground/<%= camp._id %>/comment/<%= comment._id 
						%>?_method=DELETE" method="POST">
							<button class="btn btn-xs btn-danger">Delete</button>
						</form>
					<% } %>

				<% }) %>	
				
			</div>
				
		</div><!--end of 2nd column -->
			
			
	</div><!--end of row -->			
</div><!--end of container -->

<%- include("../partials/footer")%>