<%- include("../partials/header")%>
<div class="container">
	<div class="row">
		
		<!-- Side bar for show page -->
		<div class="col-md-3">
			<p class="lead">YelpCamp</p>
			<ul class="list-group">
				<a class="list-group-item active" href="/">Home</a>
				<a class="list-group-item" href="/camping">Campgrounds</a>
			    <a class="list-group-item" href="/register">Create Account</a>
			</ul>
		</div>
			<!-- <div>
				<a href="https://goo.gl/maps/U6townM2URywu2aw8" target="_blank">
                     <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14290.151715890453!2d80.3090349!3d26.438384!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x59e543e55d49f64c!2sRam%20Corner!5e0!3m2!1sen!2sin!4v1588948407998!5m2!1sen!2sin" width="100%" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				</a>
			</div> -->
		
		<!-- For displaying Comments and Details of campgrounds -->
		<div class="col-md-9">
			<!-- Post Details -->
			<div class = "thumbnail">
				<img src="<%= camp.image %>">					
				<!-- Camp Details -->
				<div class="caption">

					<a><strong><%= camp.Campname %></strong></a>
					<strong><span class="pull-right">$<%= camp.price %>.0/Day</span></strong>
					<p><%= camp.description %></p>
					<em><p>Created By - <%= camp.author.username %></p></em>

					<!-- Displayed only when author of campground and user matches -->
					<% if(currUser && camp.author.id == currUser.id) { %>
						<a class="btn btn btn-warning" href="/campground/<%= camp._id %>/edit">Edit</a>
						<form class="delete-form" action="/campground/<%= camp._id %>?_method=DELETE" method="POST">
							<button class="btn btn btn-danger" >Delete</button>
						</form>
					<% } %>

				</div>

			</div>
			

		<!-- For Displaying Comments -->
			<div class="well">
				<div class="text-right">
					<p><a href="/campground/<%= camp._id %>/comment/new" class="btn btn-success">Add New 							            Comment</a></p>
				</div>
				<hr>
				<% camp.comments.forEach(function(comment){ %>

					<div class="row">
						<div class="col-md-12">
							<b><%= comment.author.username %></b><span class = "pull-right">10 days ago</span>
							<p><%= comment.Text %></p>
						</div>
					</div>
					<!-- Displyed only if the present logged in User owns the comment -->
					<% if(currUser && comment.author.id == currUser.id) { %>
						<a class="btn btn-xs btn-warning" href="/campground/<%= camp._id %>/comment/<%= comment._id
						%>/edit">Edit</a>
						<form class= "delete-form" action="/campground/<%= camp._id %>/comment/<%= comment._id 
						%>?_method=DELETE" method="POST">
							<button class="btn btn-xs btn-danger">Delete</button>
						</form>
					<% } %>

				<% }) %>	
				
			</div>
				
		</div><!--end of 2nd column -->
			
			
	</div><!--end of row -->			
</div><!--end of container -->

<%- include("../partials/footer")%>